/* Sticky footer via https://stackoverflow.com/a/27864663 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 130px; /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
}

.App { }

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}
